In [ ]:
#Assignment -1

In [ ]:
HOPE AI - Print Statement

In [3]:
print("HOPE AI")

HOPE AI

In [ ]:
#Buy inputs:Enter your Institute Name:

In [4]:
Name=input("Enter your Institute Name:")

Enter your Institute Name:HOPE AI

In [ ]:
#Buy inputs:Enter your Name:
            Enter your age:
            Enter your SchoolName:
            Enter your Degree:

In [2]:
Name=input("Enter your Name:")
age=int(input("Enter your age:"))
SchoolName=input("Enter your SchoolName:")
Degree=input("Enter your Degree:")

Enter your Name:ThiyagaRajan
Enter your age:27
Enter your SchoolName:Jaigopal Garodia Govt.Hr.Sec.School
Enter your Degree:BSC(Computer Science)

In [ ]:
#Addition: a=43
           b=34
           Add = 77

In [7]:
a = 43
print("a=",a)
b=34
print("b=",b)
Add= a+b
print("Add=",Add)

a= 43
b= 34
Add= 77

In [ ]:
#Subtraction: a=43
              b=34
             Sub=9

In [10]:
a=43
print("a=",a)
b=34
print("b=",b)
Sub=a-b
print("Sub=",Sub)

a= 43
b= 34
Sub= 9

In [ ]:
#Multiplication: a=63
                 b=97
                 Mul = 6111

In [13]:
a=63
print("a=",a)
b=97
print("b=",b)
Mul=a*b
print("Mul=",Mul)

a= 63
b= 97
Mul= 6111

In [ ]:
#Division : a=76
            b=31
    float Div=2.4516129032258065

In [15]:
a=76
print("a=",a)
b=31
print("b=",b)
floatDiv=a/b
print("float Div=",floatDiv)

a= 76
b= 31
float Div= 2.4516129032258065

In [ ]:
#modulo : a=76
          b=31
        Modulo=14

In [16]:
a=76
print("a=",a)
b=31
print("b=",b)
Modulo=a%b
print("Modulo=",Modulo)

a= 76
b= 31
Modulo= 14

In [ ]:
#Floor Division : a=76
                  b=31
                  FloorDiv=2

In [18]:
a=76
print("a=",a)
b=31
print("b=",b)
FloatDiv=a//b
print("FloatDiv=",FloatDiv)

a= 76
b= 31
FloatDiv= 2

In [ ]:
#Power : a=4
         b=4
    power=256

In [37]:
a=4
print("a=",a)
b=4
print("b=",b)
Pow=pow(4,4)
print("Power=",Pow)

a= 4
b= 4
Power= 256

In [33]:
print(pow(4,4))

256

In [1]:
a=4
print("a=",a)
b=4
print("b=",b)
Pow=(4**4)
print("Power=",Pow)

a= 4
b= 4
Power= 256

In [ ]:
using: Tuples
#Creating a Tuple
# with Mixed Datatype

In [8]:
Tuple1=(1,'Welcome',2,'Hope')
print("Mixed Data Types:")
print(Tuple1)

Mixed Data Types:
(1, 'Welcome', 2, 'Hope')

In [ ]:
using: Tuples
#Creating a Tuple
# # with nested tuples

In [7]:
Tuple1=(0,1,2,3)
Tuple2=('python','Hope')
Tuple3=(Tuple1,Tuple2)
print("Nested Tuples:")
print(Tuple3)

Nested Tuples:
((0, 1, 2, 3), ('python', 'Hope'))

In [6]:
Name1=(0,1,2,3)
Name2=('python','Hope')
x=(Name1,Name2)
print("Nested Tuples:")
print(x)

Nested Tuples:
((0, 1, 2, 3), ('python', 'Hope'))

In [2]:
list1 = [1,2,3,4,5] 
for temp in list1:
    print("The list")
    print(tuple(list1))

The list
(1, 2, 3, 4, 5)
The list
(1, 2, 3, 4, 5)
The list
(1, 2, 3, 4, 5)
The list
(1, 2, 3, 4, 5)
The list
(1, 2, 3, 4, 5)

In [4]:
list1 = [1,2,3,4,5] 
for temp in list1:
    print("list")
    print(temp)

list
1
list
2
list
3
list
4
list
5